.home-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 25px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.api-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.api-button{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 15px;
    color: gray;
    font-weight: bold;
    border: solid 2px gray;
    margin-bottom: 5px;
}
.api-button:hover{
    background-color: green;
    color: white;
    border: solid 2px darkgreen;
    padding: 15px;
}