.output-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 25px;
  gap: 10px;
  flex-wrap: wrap;
}
.output-container > h1 {
  color: red;
  letter-spacing: 3px;
}
.output-message {
  width: 800px;
  height: 500px;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 20px;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}
